


.aboutContainer{
    background: transparent;
    height: auto;
    width: auto;
    margin-top: 100px;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
}
.about_glass_box{
    width:55%;
    height: 40%;
    padding: 20px;
    backdrop-filter: blur(20px) saturate(75%);
    -webkit-backdrop-filter: blur(20px) saturate(75%);
    background-color: #a3a3a32b;
    border: 1px solid rgba(255, 255, 255, .288);
    border-radius: 20px;
    transition:.5s ease-in-out;
}
.about_glass_box h2{
    font-family: Centra;
  text-align: center;
}
.about_glass_box p{
    font-family: Centra;
    line-height: 30px;
}
.about_glass_box a{
    text-decoration: none;
    color: white;
}
.about_glass_box button{
  align-content: center;
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  color: white;
  overflow: hidden;
  border-radius: 20px;
  backdrop-filter: blur(20px) saturate(75%);
  -webkit-backdrop-filter: blur(20px) saturate(75%);
  background-color: #244a002b;
  border: 1px solid rgba(255, 255, 255, .288);
}
.about_glass_box .button-div{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.reveal {
  position: relative;
  overflow: hidden;
}
  
.reveal::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #333; /* Adjust the background color as needed */
  transform: translateX(-100%);
  transition: transform 1s ease;
}
  
.reveal.active::after {
  transform: translateX(101%);
}
  
  .reveal > * {
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
    animation-fill-mode:forwards;
    opacity: 0;
  }

  .buttons {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .buttons span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttons span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttons:hover span {
    padding-right: 25px;
  }
  
  .buttons:hover span:after {
    opacity: 1;
    right: 0;
  }

  @keyframes reveal {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 2;
      transform: translateY(0px);
    }
  }

  @media (max-width: 768px) {
    .aboutContainer{
      width:80%;
      height: 40%;
      padding: 20px;
      justify-content: center;
  }
} 
@media (max-width: 480px) {
  .aboutContainer{
    width:80%;
    height: 40%;
    padding: 20px;
    justify-content: center;
}
} 