@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Khula:700');

.contentContainer{
    height: auto;
    width: auto;
    display: flex;
    margin-top: 5%;
    color: white;
    justify-content: space-between;
}
.content-right-image{
  width: 50%;
  height: 600px;
  background-image: url("../assets/images/background.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.content-description p{
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  line-height: 40px;
}
.animationWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 10%;
  width: 50%;
  align-items: center;
  align-content: center;
}
.name-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 52px;
  height: auto;
  margin-left: 10%;
  width: auto;
}

.hidden {
  opacity:0;
}

.console-container {
  font-family:serif;
  font-size:52px;
  font-weight: 400;
  align-items: center;
  height:auto;
  width:auto;
  display:flex;
  gap: 20px;
  position:relative;
  color:white;
  margin-top: 10px;
}

.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
.button_div{
  display: flex;
  flex-direction: row;
  width: 500px;
  gap: 30px;
  
}
.resume-button{
  width: 200px;
  text-align: center;
  align-content: center;
  backdrop-filter: blur(20px) saturate(75%);
  -webkit-backdrop-filter: blur(20px) saturate(75%);
  background-color: #a3a3a32b;
  border: 1px solid rgba(255, 255, 255, .288);
  border-radius: 10px;
}
.linkedin-git-mail-button{
  width: 200px;
  backdrop-filter: blur(20px) saturate(75%);
  -webkit-backdrop-filter: blur(20px) saturate(75%);
  background-color: #a3a3a32b;
  border: 1px solid rgba(255, 255, 255, .288);
  border-radius: 10px;
}

.linkedin-git-mail-div{
  display: flex;
  justify-content: center;
}

.linkedin-git-mail-div a {
  display: inline-block;
  margin: 10px; /* Adjust spacing between icons */
  transition: transform 0.3s ease; /* Add a smooth transition for the transform property */
}

.linkedin-git-mail-div a:hover,
.linkedin-git-mail-div a:focus {
  color: black;
  transform: translateY(-0.25em);
  text-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: scale(1.2);
}

.resume-button a{
  display: flex;
  justify-content: center;
  gap: 20px;
  transition: transform 0.3s ease;
}

.resume-button a:hover,
.resume-button a:focus {
  color: white;
  transform: translateY(-0.25em);
  text-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .resume-button{
    height: 50px;
  }
  .button_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 500px;
    gap: 30px;
}
.console-underscore{
  visibility: hidden;
}
.console-container{
  width: 200px;
  height: 200px;
}
} 
@media (max-width: 480px) {
  .resume-button{
    height: 50px;
  }
  .button_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 500px;
    gap: 30px;
}
.console-underscore{
  visibility: hidden;
}
.console-container{
  width: 200px;
  height: 200px;
}
} 