@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Khula:700');

.contentContainer{
  color: white;
  width: auto;
  height: auto;
}
.animationWrapper {
  display: flex;
  height: 100vh;
  align-items: center;
}
.animationContainer{
  display: flex;
  flex-direction: column;
  text-align:left;
  overflow:hidden;
  height: 100px;
  padding-left: 10%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0, 0, 0);
  font-family: Centra;
  font-weight: 300;
  font-size: 40px; 
  color: white;    
}
.animationContainer div {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.animationContainer div:first-of-type {
  animation: showup infinite;
}

.animationContainer div:last-of-type {
  width: 400px;
  animation: reveal infinite;
}

.animationContainer div:last-of-type span {
  margin-left: -355px;
  animation: slidein 5s infinite;
}

@keyframes showup {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes slidein {
  0% { margin-left: -800px; }
  20% { margin-left: -800px; }
  35% { margin-left: 0px; }
  100% { margin-left: 0px; }
}

@keyframes reveal {
  0% { opacity: 0; width: 0px; }
  20% { opacity: 1; width: 0px; }
  30% { width: 355px; }
  80% { opacity: 1; }
  100% { opacity: 0; width: 355px; }
}

/* Content Animation*/

.hidden {
  opacity:0;
}
.console-container {
  font-family:Centra;
  font-size:52px;
  align-items: center;
  height:fit-content;
  width:800px;
  display:flex;
  gap: 20px;
  position:absolute;
  top: 15%;
  z-index: 9999;
  color:white;
  left:10%;
}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
.content_glass_box{
  width:28%;
  height: auto;
  margin-top: 10%;
  margin-left: 25%;
  padding: 3%;
  backdrop-filter: blur(20px) saturate(75%);
  -webkit-backdrop-filter: blur(20px) saturate(75%);
  background-color: #a3a3a32b;
  border: 1px solid rgba(255, 255, 255, .288);
  border-radius: 20px;
  transition:.5s ease-in-out;
}
.content_glass_box h2{
  font-family: Centra;
  text-align: center;
}
.content_glass_box p{
  font-family: Centra;
  line-height: 30px;
}
.content_glass_box button{
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  color: white;
  overflow: hidden;
  border-radius: 20px;
  backdrop-filter: blur(20px) saturate(75%);
  -webkit-backdrop-filter: blur(20px) saturate(75%);
  background-color: #244a002b;
  border: 1px solid rgba(255, 255, 255, .288);
}
.button_div{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}