.contact-form-container{
    width:auto;
    height: auto;
    padding: 20px;
    display: flex;
    gap: 10%;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, .288);
    border-left: 1px solid rgba(255, 255, 255, .288);
    margin-left: 27%;
    /* backdrop-filter: blur(20px) saturate(75%);
    -webkit-backdrop-filter: blur(20px) saturate(75%);
    background-color: #a3a3a32b;
    border: 1px solid rgba(255, 255, 255, .288);
    border-radius: 20px;
    transition:.5s ease-in-out; */
}
.contact-form{
    width:30%;
    height: auto;
}
.form-components{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 30px;
    /* border: 1px solid rgba(255, 255, 255, .288);
    border-radius: 20px; */
    padding: 30px;
}
.contact-others{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgba(255, 255, 255, .288);
    border-radius: 20px; */
    color: white;
    gap: 20%;
}
.contact-icons{
    color: white;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, .288);
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.contact-icons-group{
    display: flex;
    gap:10px;
    transition: transform 0.3s ease;
}
.contact-details-group{
    width: 500px;
    height: auto;
    display: flex;
    gap: 10%;
}
.contact-email-details{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.contact-location-details{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.contact-details-items{
    width: 250px;
    display: flex;
    align-items: center;
}