@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Khula:700');

.contentContainer{
  color: white;
  width: auto;
  height: auto;
}
.animationWrapper {
  display: flex;
  height: 80vh;
  align-items: center;
  position: relative;
}
.name-container{
  font-family: Centra;
  font-weight: 400;
  font-size: 52px;
  height: auto;
  margin-left: 10%;
  width: 40%;
}

.hidden {
  opacity:0;
}

.console-container {
  font-family:Centra;
  font-size:52px;
  align-items: center;
  height:auto;
  width:auto;
  display:flex;
  gap: 20px;
  position:relative;
  color:white;
  margin-top: 10px;
}

.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
.content_glass_box{
  width:28%;
  height: auto;
  margin-top: 10%;
  margin-left: 10%;
  padding: 3%;
  backdrop-filter: blur(20px) saturate(75%);
  -webkit-backdrop-filter: blur(20px) saturate(75%);
  background-color: #a3a3a32b;
  border: 1px solid rgba(255, 255, 255, .288);
  border-radius: 20px;
  transition:.5s ease-in-out;
}
.content_glass_box h2{
  font-family: Centra;
  text-align: center;
}
.content_glass_box p{
  font-family: Centra;
  line-height: 30px;
}
.content_glass_box button{
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  color: white;
  overflow: hidden;
  border-radius: 20px;
  backdrop-filter: blur(20px) saturate(75%);
  -webkit-backdrop-filter: blur(20px) saturate(75%);
  background-color: #244a002b;
  border: 1px solid rgba(255, 255, 255, .288);
}
.button_div{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}