.projectsContainer {
    background: transparent;
    height: auto;
    width: auto;
    padding: 20px;
    color: white;
}

.projects-card-glass-box {
    height: auto;
    width: auto;
}

.projects-card-glass-box h1 {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.projects-card-glass-box .cardbody {
    width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    height: auto;
    padding: 20px;
    background: transparent;
    transition: .5s ease-in-out;
}

.each-card {
    backdrop-filter: blur(20px) saturate(75%);
    -webkit-backdrop-filter: blur(20px) saturate(75%);
    background-color: #a3a3a32b;
    position: relative;
    border: 1px solid rgba(255, 255, 255, .288);
    border-radius: 20px;
    overflow: hidden;
    transition: .5s ease-in-out;
    height: 100%;
}

.each-card-img {
    width: 100%;
    height: 40%;
}

.each-card-body {
    text-align: center;
}

.each-card-text {
    padding: 10px;
    text-align: justify;
}

.projectCard-a-tag {
    text-decoration: none;
    color: white;
}

.each-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .03);
    pointer-events: none;
    z-index: 1;
}

/* Apply hover effect to the entire .each-card */
.each-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

@media (max-width: 768px) {
    .each-card{
        width: 400px;
        grid-template-columns: repeat(auto-fit, minmax(200px, .5fr));
    }
  }
  
  @media (max-width: 480px) {
    .each-card {
        width: 400px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
  